
// Text-colors
$blue-color:skyblue;
$danger-color:rgb(228, 30, 30);
$warning-color:rgb(160, 13, 140);
$success-color:rgb(10, 128, 88);
$yellow-color:goldenrod;
$tomato-color:tomato;

// background-colors
$lightYellow-color:rgb(200, 121, 85);
$lightGreen-color:rgb(116, 160, 76);
$LightOrkid-color:rgb(153, 83, 144);
$LightInfo-color:rgb(76, 136, 106);
$green-color:rgb(5, 80, 24);